.App {
  text-align: center;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

h1 {
  /* text-align: center; */
  z-index: 10;
  padding-left: 8px;
}

.black-header {
  font-weight: bold;
}

.new-colour-header{
  color: rgb(44, 71, 160);
  font-weight: bold;
}
