.App {
  text-align: center;
}

.leaflet-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h1 {
  z-index: 10;
  background-color: transparent;
  position: fixed;
  right: 3%;
  font-family: 'Special Elite', cursive;
  font-size: xx-large;
}

.black-header {
  font-weight: bold;
}

.new-colour-header{
  color: rgb(44, 71, 160);
  font-weight: bold;
}
