.App {
  text-align: center;
}

.leaflet-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h1 {
  padding: 1%;
  margin:  5%;
  z-index: 10;
  background-color: transparent;
  position: fixed;
  right: 3%;
  font-family: 'Special Elite', cursive;
  font-size: xx-large;
}

.black-header {
  border: 1px white;
  color: #1d1af5;
  font-weight: bold;
}

.new-colour-header{
  outline: 1px white;
  color: #fed712;
  font-weight: bold;
}
