h5{
    color: white;
}
.modal-content {
    color: white;
    background-color: #153921;
}

.flagQ{
    justify-self: center;
    font: 25px/200% 'Chakra Petch', sans-serif;
}

.questionFlag {
    border-radius: 5px;
    width: 300px;
    height: 240px;
    margin: 10px;
}

.modal-body{
    padding: 5;
    display: flex;
    justify-content: center;
    color: white;
}

.score-container {
    font: bold 20px/200% 'Chakra Petch', sans-serif;
    position: right;
    z-index: 10;
    right: 5%;
    top: 10%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0
}

button{
    margin: 10px;
    width: 300px;
    height: 65px;
    background-color: #10242d;
    border: 0.5px solid #2099d1;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.question-answered >h5{
    text-transform: uppercase;
    color: white;
    animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #c1d1d3;
    }
    to {
        text-shadow: 0 0 100px #bad0d3, 0 0 10px #e2f1f3;
}
}

#next-btn {
    justify-content: center;
    width: 300px;
    background-color: #08a7f1;
    border: 0.5px solid #2099d1;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.score-page > h5 {
    font: bold 20px/200% 'Cata', sans-serif;
    color: white;
}

/* test */