.right-side {
    position: fixed;
    z-index: 100;
    right: 5%;
    top: 0;
    width: 370px;
}

/* .card {
    border: black solid 1px;
    border-top: white solid;
    background-color: white;
    height: 500px;
    padding: 0 10px;
} */

.card {
    border: none;
    border-radius: 0;
    position: absolute;
    z-index: 100;
}

.card-header:first-child {
    background-color: transparent;
    border: none;
    border-style: none;
    box-shadow: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border: none;
    border-style: none;
}

.accordion-item:first-of-type .accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    z-index: 0;
}

.accordion-item:first-of-type {
    border: none;
}

.accordion-item:last-of-type {
    border: none;
}

.card-header {
    background-color: transparent;
}


.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.search-bar {
    background-image: none;
}

.search-container {
    position: fixed;
    top: 60%;
    width: 370px;
}

.dropdown-card {
    height: 500px;
}

.accordion-body {
    padding: 0;
    z-index: 1000;
}

@import '~bootstrap/dist/css/bootstrap.css';