@import '~bootstrap/dist/css/bootstrap.css';

.right-side {
    position: fixed;
    z-index: 10;
    right: 5%;
    top: 10%;
    width: 370px;
}

.card {
    border: none;
    border-radius: 0;
    position: absolute;
    z-index: 100;
    
}

.appBody{
    background-color: #10242d;
    display:grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px 30px;
    color: white;
    font-style: none;
}

.nameQuiz{
    background-color: #153921;
    border-radius: 7px;
    font-size: 18px;
    color: white;
}

button{
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.linkText {
    text-decoration: none;
    color: white;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: #10242d;
}

.accordion-item:first-of-type .accordion-button {
    background-color: #10242d;
    padding: 0;
    z-index: 1000;
}

.card-header {
    background-color: transparent;
}

.btn-close {
    position: absolute;
    right: 2%;
}

.card-text > img {
    border: 1px black solid;
}

.accordion-header {
    background-color: #10242d;
}
.accordion-collapse{
    background-color: #10242d;
}

path {
        background-color: #10242d;
}

.accordion-button {
    box-shadow: none;
    background-color: #10242d;
    padding: 0;
    margin: 0;
}

.accordion-button::after {
    box-shadow: none;
    background-color: #10242d;
}

.accordion-button:not(.collapsed)::after {
    background-color: #10242d;
}

button.accordion-body.collapseButton{
    background-color: #10242d;
}

.search-bar {
    background-image: none;
}

.searchBody {
    color: #10242d;  
}

::placeholder{
    color: white;
    opacity: 1;
}

.search-container {
    background-color: #e824fa;
    position: fixed;
    bottom: 10%;
    width: 370px;
}

.dropdown-card {
    position: fixed;
    height: 500px;
}

.accordion-body {
    background-color: #10242d;
    padding: 0;
    z-index: 1000;
}

.SearchList {
    height: 95%;
}

.search-container{
    box-shadow: chocolate;
    z-index: 200;
}

.quiz-card {
    position:absolute;
    z-index: 1500
}

.score-page > h5 {
    color: black;
}

.question-answered >h5 {
    color: black;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    box-shadow: none;
}
