.form {
    margin: 0;
    padding: 10px
}

.form > input {
    border: none;
    box-shadow: none;
    width: 150%;
    height:15%;
}

.SearchList {
    height: 100px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.SearchList > ul {
    list-style-type: none;
    cursor: pointer; 
}

.ul > li {
    list-style-type: none;
}