.form {
    margin: 0;
    padding: 10px;
}

.form > input {
    border: snow;
    width: 150%;
    height:15%;
    background-color: #10242d;
    color: white
}

.SearchList {
    height: 50px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #10242d;
    color: white

}

.SearchList > ul {
    list-style-type: none;
    cursor: pointer; 
    border: 1px;
    background-color: #10242d;
    color: white
}

.SearchList > li:hover{
    border: 1px solid black;
    background-color: #10242d;
    color: white
}

.ul > li {
    list-style-type: none;
    color: white
}