
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,700;1,400;1,700&family=Monda:wght@400;700&family=Poppins:wght@600&display=swap');

.cardImage{
    border-radius: 5px;
    height:250px;
    padding: 1%;
}


.cardInfoLabel{
    font: bold 22px/150% 'Architects Daughter', cursive;
    font: bold 22px/150% cursive; 
    font-family: 'Monda', sans-serif;
}

.cardInfoContent{
    font: 18px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

h4 {
    font: bold 22px/100% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: bold 700;
    margin: 0;
    padding: 0;
    /* word-spacing: 1%; */
}

h5 {
    color: white 
} 


.country-quiz > h4{
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

.quiz-form {
    margin: 20px 0 10px 0;
}

.quiz-form > input {
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

.submit-start-button {
    margin: 10px 0;
    justify-content: center;
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

#score-message {
    margin: 10px 0;
    font: 18px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

.linkText {
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}
