.cardImage{
    border-radius: 5px;
    height:250px;
    margin: 0 0 3% 0
}

.pulledInfo{
    list-style: none;
    margin: 0;
    padding: 1%;
}

.cardInfoLabel{
    font: bold 22px/150% 'Architects Daughter', cursive;
}

.cardInfoContent{
    font: 22px/150% 'Architects Daughter', cursive;
}

h4 {
    font: 25px/100% 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
}

h5 {
    color: white 
}