.cardImage{
    border-radius: 5px;
    height:225px;
    margin: 0 0 3% 0
    /* border-style: solid;
    border-color: 0.25px black */
}

.pulledInfo{
    list-style: none;
    margin: 0;
    padding: 1%;
}

.cardInfoLabel{
    font: 20px/150% 'Catamaran', sans-serif;
}

.cardInfoContent{
    font: 18px/150% 'Catamaran', sans-serif;
}

h4 {
    font: bold 21px/100% 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
}

h5 {
    color: white 
}
/* Card variables 
$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-title-spacer-y:               $spacer * .5;
$card-border-width:                 $border-width;
$card-border-radius:                $border-radius;
$card-border-color:                 rgba($black, .125);
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
$card-cap-padding-y:                $card-spacer-y * .5;
$card-cap-padding-x:                $card-spacer-x;
$card-cap-bg:                       rgba($black, .03);
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           $white;
$card-img-overlay-padding:          $spacer;
$card-group-margin:                 $grid-gutter-width * .5; */

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,700;1,400;1,700&family=Monda:wght@400;700&family=Poppins:wght@600&display=swap');

.cardImage{
    border-radius: 5px;
    height:250px;
    padding: 1%;
}

/* .pulledInfo > li {
} */

.cardInfoLabel{
    font: bold 22px/150% 'Architects Daughter', cursive;
    /* font: bold 22px/150% 'Architects Daughter', cursive; */
    /* font: bold 22px/150% 'Franklin Gothic Medium'; */
    /* font-family: 'Gulim'; */
    font: bold 22px/150% cursive; 
    font-family: 'Monda', sans-serif;
}

.cardInfoContent{
    /* font: 22px/150% 'Architects Daughter', cursive; */
    /* font: 22px/150% 'Architects Daughter', cursive; */
    font: 18px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
    /* font-family: 'Gulim'; */
}

h4 {
    /* font: 25px/100% 'Permanent Marker', cursive; */
    font: bold 22px/100% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: bold 700;
    margin: 0;
    padding: 0;
    /* word-spacing: 1%; */
}

h5 {
    color: white 
} 


.country-quiz > h4{
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

.quiz-form {
    margin: 20px 0 10px 0;
}

.quiz-form > input {
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

.submit-start-button {
    margin: 10px 0;
    justify-content: center;
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

#score-message {
    margin: 10px 0;
    font: 18px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

.linkText {
    font: 20px/150% cursive;
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

/* Card variables 
$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-title-spacer-y:               $spacer * .5;
$card-border-width:                 $border-width;
$card-border-radius:                $border-radius;
$card-border-color:                 rgba($black, .125);
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
$card-cap-padding-y:                $card-spacer-y * .5;
$card-cap-padding-x:                $card-spacer-x;
$card-cap-bg:                       rgba($black, .03);
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           $white;
$card-img-overlay-padding:          $spacer;
$card-group-margin:                 $grid-gutter-width * .5; */