.form {
    margin: 25px;
    padding: 10px
}

.SearchList {
    height: 100px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.ul {
    margin: 25px;
    list-style-type: none;
}